<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="EnvironmentDataSection" type="AuthTokenGenerator.EnvironmentDataSection, AuthTokenGenerator" />
  </configSections>
  <EnvironmentDataSection>
    <environments>
      <environment name="Dev-WIGStub" tenant="azureford.onmicrosoft.com" aadinstance="https://login.microsoftonline.com/{0}/" clientid="f553f4cf-4316-4624-8d2b-8efd1788e662" clientsecret="iIgudpCDzwIt45iFtCiQw3aPz+rhKnA9jZYYTieh00Y=" apiresourceid="https://azureford.onmicrosoft.com/meuswig1dev"/>
      <environment name="Dev-ClientGateway" tenant="azureford.onmicrosoft.com" aadinstance="https://login.microsoftonline.com/{0}/" clientid="28f18e05-98b4-44ad-8b0b-bb8ae08e94fb" clientsecret="BxqLi2cg8I3+RERCJJZIX/Y6gosfVlzIsUxGz9SsnoU=" apiresourceid="https://azureford.onmicrosoft.com/meusapi1dev"/>
      <environment name="NA-Dev-FIG" tenant="SdnPoc.onmicrosoft.com" aadinstance="https://login.microsoftonline.com/{0}/" clientid="eedd6a3b-aeeb-44fa-8003-4a938b319bf8" clientsecret="vPxxWCyqHbwuNcIDirdDTIyMLGjhJl3iQKkv4GKs3Pk=" apiresourceid="https://SdnPoc.onmicrosoft.com/IdentityService"/>
      <environment name="NA-MSQA-ClientGateway" tenant="azureford.onmicrosoft.com" aadinstance="https://login.microsoftonline.com/{0}/" clientid="85c81e3a-ef56-4282-adf8-1f04090a30ae" clientsecret="wSXlTIetTTrxzGSvCsr4bPTielthkmnYOyrQZ8IlG4g=" apiresourceid="https://azureford.onmicrosoft.com/mapidr2qa"/>
      <environment name="NA-MSQA-WiFiGateway" tenant="azureford.onmicrosoft.com" aadinstance="https://login.microsoftonline.com/{0}/" clientid="ab8c6027-b8e5-45ea-a076-04b2979cc00f" clientsecret="2kHENNny9+ZEONl22p1qwefRh9J5ZbFNaXrRYZRz7t4=" apiresourceid="https://azureford.onmicrosoft.com/mwigtrusteddr2qa"/>
      <environment name="Na-MSQA-FIG" tenant="azureford.onmicrosoft.com" aadinstance="https://login.microsoftonline.com/{0}/" clientid="298c6fbc-cc43-4836-8e77-22f847e7d2e4" clientsecret="g6+uy4qNmv4W/JMBUykhRnycpzia8aD89dlIOKRNz00=" apiresourceid="https://azureford.onmicrosoft.com/mfigdr2qa"/>
      <environment name="CN-MSQA-ClientGateway" tenant="chinaford.partner.onmschina.cn" aadinstance="https://login.chinacloudapi.cn/{0}/" clientid="3e10a383-0a49-42b2-96c2-76d28723965a" clientsecret="hQkb7XGDB6x6OtZmaEUvVkIbY+FlnfSKfcngzPKFTyM=" apiresourceid="https://chinaford.partner.onmschina.cn/mcneapiqar1"/>
      <environment name="CN-MSQA-WIG" tenant="chinaford.partner.onmschina.cn" aadinstance="https://login.chinacloudapi.cn/{0}/" clientid="9d4bb792-3f90-4ead-be5e-8c6dc1894cbb" clientsecret="pyFjjPOhI26mh/ncTvCvuidQo/QB5AtYbT8xXcGj520=" apiresourceid="https://chinaford.partner.onmschina.cn/mcnewigtrustedqar1"/>
      <environment name="CN-FQA-WIG" tenant="chinaford.partner.onmschina.cn" aadinstance="https://login.chinacloudapi.cn/{0}/" clientid="b42011ed-b832-4965-bedb-f3d2d7667fcb" clientsecret="DxbT/x/bVYTfDlrytQAZ2g3GOqhhrfehWzQoSwWOkZc=" apiresourceid="https://chinaford.partner.onmschina.cn/fwigtrusteddr2qa"/>
      <environment name="NA-FQA-WIG" tenant="azureford.onmicrosoft.com" aadinstance="https://login.microsoftonline.com/{0}/" clientid="388c0750-617e-4b47-9c94-47adccf4899c" clientsecret="IphfOOPQA1FU4gUC4u4K2SD5Q51n72XUpGIFbPfzB1M=" apiresourceid="https://azureford.onmicrosoft.com/fwigtrusteddr2qa"/>
      <environment name="CN-FQA-ClientGateway" tenant="chinaford.partner.onmschina.cn" aadinstance="https://login.chinacloudapi.cn/{0}/" clientid="7827908c-c3c5-444e-aecd-edb369256da3" clientsecret="E3o3J/9bqjdPLoBB8gKUg9c+czZlAarqaFqn6EqIgCw=" apiresourceid="https://chinaford.partner.onmschina.cn/fapidr2qa"/>
      <environment name="NA-FQA-ClientGateway" tenant="azureford.onmicrosoft.com" aadinstance="https://login.microsoftonline.com/{0}/" clientid="0a029f38-5679-4626-bf79-cd1243eaa6cb" clientsecret="Xh+VkNDqlOUTpyG2mYra8DD87gXUhbP9LmmZEAH5mN0=" apiresourceid="https://azureford.onmicrosoft.com/fapidr2qa"/>
    </environments>
  </EnvironmentDataSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>