<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="EnvironmentDataSection" type="AuthTokenGenerator.EnvironmentDataSection, AuthTokenGenerator" />
  </configSections>
  <EnvironmentDataSection>
    <environments>
      <environment name="EnvironmentName" tenant="tenant name" aadinstance="aadinstance name" clientid="client id" clientsecret="client secret" apiresourceid="resource id"/>
    </environments>
  </EnvironmentDataSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
